NEXT_PUBLIC_SUPABASE_URL= https://vcnahjsrgwbpxvcfzmnh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY= eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZjbmFoanNyZ3dicHh2Y2Z6bW5oIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODAxODY2MDgsImV4cCI6MjA5NTc2MjYwOH0.MtVxCdR7LncscvKgHzqe6v6iTdhUa_IXB6li6zqItwk